fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary     # или psycopg2, если предпочитаете
pydantic
passlib[bcrypt]
python-dotenv       # при использовании .env
python-multipart    # если понадобятся загрузки файлов
