.badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  color: white;
  display: inline-block;
  user-select: none;
}

.active {
  background-color: #4caf50; /* зеленый */
}

.archived {
  background-color: #9e9e9e; /* серый */
}
