/* src/styles/globals.css */
@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

button {
  font-family: var(--font-base);
  cursor: pointer;
}