body {
  font-family: 'Roboto', sans-serif;
  background: #f5f8fe;
}
.sidebar {
  width: 260px;
}
@media (max-width: 991.98px) {
  .sidebar {
    display: none;
  }
  body.offcanvas-active .sidebar {
    display: block;
    position: fixed;
    z-index: 1031;
    height: 100vh;
    overflow-y: auto;
    left: 0;
    top: 0;
  }
}
